PORT=3002

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=fiap_soat_db
DB_SCHEMA=execution

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_SERVICE_ORDER_EXCHANGE=service-order-events
RABBITMQ_PAYMENT_EXCHANGE=payment-events
RABBITMQ_EXECUTION_EXCHANGE=execution-events
RABBITMQ_SERVICE_ORDER_QUEUE=execution-service.service-order-events
RABBITMQ_PAYMENT_QUEUE=execution-service.payment-events

LOG_LEVEL=info
